.productdisplay{
    display: flex;
    margin: 0px 110px;
}
.productdisplay-left{ 
    display: flex;
    gap: 10px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.productdisplay-img-list img{
    height: 180px;
}
.productdisplay-main-img {
    width: auto;
    height: 500px;
}
.productdisplay-right{
    margin: 0px 50px;   
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    font-size: 30px;
    font-weight: 600
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: -20px;
}
.productdisplay-right-price{
    display: flex;
    margin: 20px 0px;
    gap: 30px;
    font-size: 25px;
}
.productdisplay-right-size{
    margin-top: 30px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.productdisplay-right-category{
    margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}

